.shorter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shorter__main {
  display: flex;
  justify-content: center;
  width: 80vw;
}

.shorten__main-container {
  display: flex;
  position: relative;
  width: 90%;
  height: 120px;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
  background-color: #3a3053;
  transform: translateY(-60px);
}

.shorten__search-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin: 0 5%;
}

.shorten__search-bar {
  display: flex;
  padding: 0 5%;
  width: 70%;
  border-radius: 5px;
  align-items: center;
  background-color: #fff;
  z-index: 2;
}

.shorten__search-bar.show-error-empty {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(250, 77, 77);
}

.shorten__search-bar.show-error-link {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(250, 77, 77);
}


.shorten__search-bar.show-error-empty::before {
  content: "Please add a link";
  position: absolute;
  font-size: 12px;
  color: rgb(250, 77, 77);
  bottom: 0;
  left: 0;
  font-style: italic;
  transform: translateY(25px);
}

.shorten__search-bar.show-error-link::before {
  content: "The link entered is not correct";
  position: absolute;
  font-size: 12px;
  color: rgb(250, 77, 77);
  bottom: 0;
  left: 0;
  font-style: italic;
  transform: translateY(25px);
}


.shorten__input-search-validation {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}

.shorten__container-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.shorten__container-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .shorter__main {
    width: 100vw;
  }

  .shorten__search-container {
    flex-direction: column;
    justify-content: center;
  }

  .shorten__search-bar {
    width: 90%;
    padding: 10px 5%;
    margin-bottom: 10px;
  }
}
