.main__container {
  color: #a5a4ac;
}

.welcome__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 5%;
  padding: 20px 0 20px 0;
}

.welcome__intro-title {
  font-size: 52px;
  font-weight: 700;
  color: #34313b;
  line-height: 62px;
}

.welcome__intro-information p {
  font-size: 16px;
}

.welcome__intro-img figure {
  margin: 0;
}

.welcome__intro-img figure img {
  width: 100%;
  height: 100%;
}

.content__information {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 100px;
  padding-bottom: 150px;
  background-color: #f0f1f6;
}

.content__advance-statistics {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content__advance-statistics h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  color: #37343f;
}

.content__advance-statistics p {
  width: 45%;
  text-align: center;
}

.content__advance-statistics-card-container {
  display: flex;
  width: 100vw;
}

.content__advance-statistics-card-list {
  width: 100%;
  height: 350px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding: 80px 5%;
}

.content__advance-statistics-card-list::before {
  content: "";
  width: 90%;
  height: 5px;
  background-color: #2fd1cd;
  position: absolute;
  top: 50%;
  bottom: 50%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .content__advance-statistics p {
    width: min(50% + 100px, 840px);
  }

  .content__advance-statistics-card-list {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .content__advance-statistics-card-list::before {
    width: 7px;
    height: 80%;
    top: 10%;
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .welcome__container {
    grid-template-columns: 1fr;
  }

  .welcome__intro-information {
    flex-direction: column;
  }

  .welcome__intro-title {
    display: flex;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
  }

  .welcome__intro-information p {
    text-align: center;
  }

  .welcome__intro-button-container {
    display: flex;
    justify-content: center;
  }

  .welcome__intro-img {
    grid-row-start: 1;
    grid-row-end: 3;
    padding-bottom: 30px;
  }
}
